{% extends app.request.get('jqui') ? 'base_jqui.html.twig' : 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}New Book - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>New Book</h1>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Insert</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('search_author') }}" id="url-list" class="hidden"></a>
    <a href="{{ path('get_author') }}" id="url-get" class="hidden"></a>
    <a href="{{ path('new_author') }}" id="url-new" class="hidden"></a>
{% endblock %}
